footer{
    background-color: var(--color-primary-5);
}
.footer-itens{
    display: flex;
    justify-content: space-between;
    padding: 20px 8% 24px 8%;
}
.copyright{
    color: var(--color-neutra-2);
    font-weight: 500px;
}